@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

/* sm	640px	 */
/* md	768px	 */
/* lg	1024px	 */
/* xl	1280px	 */
/* 2xl	1536px */
