.single_review {
  //   background-color: rgba(135, 207, 235, 0.2);
  width: 90%;
  margin: auto;
  @apply flex flex-col md:flex-row;
  .left_side {
    flex: 3;
    margin-right: 1rem;
    .review {
      .review_top {
        gap: 2rem;
        @apply flex flex-col sm:flex-row items-center;
        .review_img {
          height: 20rem;
          width: 15rem;
          position: relative;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .review_text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 1rem;
          h1 {
            @apply text-[1.5rem] md:text-[1.2rem] lg:text-[1.5rem] xl:text-[2.2rem] 2xl:text-[2.8rem] font-bold;
          }
          p {
            color: blue;
            font-size: 1.2rem;
            text-decoration: underline;
            cursor: pointer;
          }
          .rating {
            cursor: none;
            background-color: gold;
            color: black;
            text-decoration: none;
            font-weight: 500;
            width: fit-content;
            border-radius: 0.5rem;
            @apply text-[.8rem] p-[.5rem] md:px-[1rem] xl:text-[1.5rem];
          }
          .view {
            color: gray;
            text-decoration: none;
            cursor: none;
          }
        }
      }
      .review_bottom {
        .like_section {
          padding: 2rem 0;
          border-bottom: 0.1rem solid gray;
        }
        .review_body {
          margin-top: 2rem;
          color: gray;
          @apply md:text-[1.5rem];
        }
      }
    }
    .comment_section {
      margin-top: 1rem;
      h1 {
        font-size: 2.5rem;
        @apply text-[1.5rem] md:text-[1.2rem] lg:text-[1.5rem] xl:text-[2.2rem] 2xl:text-[2.8rem] font-bold mb-[.5rem];
      }
      .write_comment {
        form {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          input {
            padding: 0.5rem;
            border: none;
            width: 80%;
            outline: none;
            font-weight: bold;
            border-bottom: 0.1rem solid gray;
            &:focus {
              border-bottom: 0.1rem solid skyblue;
            }
          }
          button {
            padding: 0.5rem 1rem;
            background-color: skyblue;
            font-size: 1.2rem;
            font-weight: 500;
            width: max-content;
            border-radius: 0.5rem;
            &:hover {
              background-color: rgb(71, 188, 235);
            }
          }
        }
      }
      .comments {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-height: 30rem;
        overflow-y: scroll;
        scrollbar-width: thin;

        .comment {
          display: flex;
          border-bottom: 0.1rem solid gray;
          border-style: dotted;
          gap: 1rem;
          padding: 1rem 1rem 1rem 0;
          .comment_img {
            height: 5rem;
            width: 5rem;
            position: relative;
            @apply h-[3rem] w-[3rem] md:h-[5rem] md:w-[5rem] cursor-pointer;
          }
          img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          .comment_text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
              font-weight: 500;
              font-size: 1.5rem;
              cursor: pointer;
            }
            p {
              color: gray;
              padding-left: 0.5rem;
            }
          }
        }
      }
    }
    .more_from_reviewer {
      margin-top: 2rem;
      h1 {
        @apply text-[1.5rem] md:text-[1.2rem] lg:text-[1.5rem] xl:text-[2.2rem] 2xl:text-[2.8rem] font-bold mb-[.5rem];
      }
      .reviews {
        margin-top: 1rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .review {
          box-shadow: 0.2rem 0.2rem 0.5rem gray;
          display: flex;
          @apply gap-[1rem] lg:gap-[2rem];

          .review_img {
            min-width: 4rem;
            height: auto;
            width: 8rem;
            position: relative;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
          .review_text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem;
            gap: 0.5rem;
            h2 {
              font-weight: 500;
              @apply text-[1.2rem] md:text-[1rem] lg:text-[1.2rem] xl:text-[2.2rem] 2xl:text-[2.8rem];
            }
            .rating {
              padding: 0.25rem 0.5rem;
              background-color: gold;
              width: max-content;
              border-radius: 0.5rem;
              font-weight: 500;
            }
            .author,
            .reviewer {
              color: blue;
              &:hover {
                text-decoration: underline;
                cursor: pointer;
              }
            }
            .counts {
              display: flex;
              gap: 2rem;
            }
          }
        }
      }
    }
  }
  .right_side {
    flex: 1;
    margin-left: 1rem;
    h1 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .reviews {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .review {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        border-bottom: 0.1rem solid gray;
        border-style: dashed;
        .review_img {
          height: 12rem;
          width: 8rem;
          position: relative;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .review_text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          gap: 0.5rem;
          h2 {
            font-size: 1.5rem;
            font-weight: 500;
          }
          .rating {
            padding: 0.25rem 0.5rem;
            background-color: gold;
            width: max-content;
            border-radius: 0.5rem;
            font-weight: 500;
          }
          .author,
          .reviewer {
            color: blue;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
          .counts {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
